---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/reveal.css">
    {# <link rel="stylesheet" href="/static/css/theme/black.css" id="theme"> #}
    <script src="/static/js/alpine.js?v={% version %}"></script>
    {# <link rel="stylesheet" href="/static/css/style.css?v={% version %}"/> #}

</head>
<body>
<div class="reveal">
    <div class="slides"> 
	{% for p in collections.works  %}
        {% if helpers.fx('./src'+p.data.image)  %}
            <section id="{{ helpers.slug([p.data.id,p.data.title].join(' ')) }}" 
                data-year="{{p.data.year}}" 
                data-categories="{{p.data.categories}}" 
                data-dimensions="{{p.data.Dimensions}}">
                <section id="{{ helpers.slug([p.data.id,p.data.title].join(' ')) }}">
                    <img data-src="{{p.data.image}}" >
                </section>
                <section id="{{ helpers.slug([p.data.id,p.data.title].join(' ')) }}-details">
                    <h2>{{p.data.title}}</h2>
                    <p>{{p.data.year}} / {{p.data.categories}} / {{p.data.w}}x{{p.data.h}} (cm)</p>
                </section>
            </section>
        {% endif %}
    {% endfor %}
    </div>
</div>
<script src="/static/js/reveal.js"></script>
<script>
    Reveal.initialize({
        hash: true,
    });
</script>
</body>
</html>