

---
---
{% extends "./_includes/default.njk" %}
{%block head%}
<link rel="stylesheet" href="https://unpkg.com/mvp.css">

{%endblock%}
{% block title %}Form{% endblock %}

{% block main %}

<form method="POST" action="https://mimecom-staticman.herokuapp.com/v3/entry/github/mimecine/e11y-ethr/master/rooms">
  {# <input name="options[redirect]" type="hidden" value="https://my-site.com"> #}
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label>Name</label><input name="fields[name]" type="text">
  <label>E-mail</label><input name="fields[email]" type="email">
  <label>W1</label><input name="fields[work][]" type="text">
  <label>W2</label><input name="fields[work][]" type="text">
  <label>W3</label><input name="fields[work][]" type="text">
  <label>W4</label><input name="fields[work][]" type="text">
  <label>Message</label><textarea name="fields[message]"></textarea>
  
  <button type="submit">Go!</button>
</form>

{%endblock%}
