---
---
{% extends "./_includes/default.njk" %}
{%block head%}

{%endblock%}
{% block title %}Edlef Romeny{% endblock %}

{% block main %}
	<div class="flex flex-wrap justify-between m-auto place-self-center">
	{% for p in collections.works  %}
	{% if helpers.fx('./src'+p.data.image)  %}


	<a href="{{p.url}}" data-year="{{p.data.year}}" data-category="{{p.data.category}}" data-dimensions="{{p.Dimensions}}" class="m-2 grid place-items-center bg-gray-400">



			<figure> 
          {% image p.data.image, p.data.title, "object-fit w-full sm:w-auto h-auto sm:h-40", "300px" %}
				{# <img
					srcset=""
					widths=""
					src="{{p.data.image}}"
					dx-src="https://ik.imagekit.io/mimecom/ethr/tr:w-600/{{p.data.image}}" 
					loading="lazy" 
					class="object-fit w-full sm:w-auto h-auto sm:h-40"> #}
			</figure>
	</a> 
	{% else%}
		<span hidden>NO IMG</span>
	{% endif %}
	{% endfor %}
	</div>	
{% endblock %}

