---
---
{% extends "./_includes/default.njk" %}
{%block head%}

{%endblock%}
{% block title %}Edlef Romeny{% endblock %}

{% block main %}
	{% for p in collections.works  %}
	{% if p.data.image  %}
	<a href="{{p.url}}" data-year="{{p.data.year}}" data-category="{{p.data.category}}" data-dimensions="{{p.Dimensions}}">
		<div class="card">
			<div class="visual"> 
				<img src="https://ik.imagekit.io/mimecom/ethr/tr:w-300/{{p.data.image}}" loading="lazy">
			</div>
		</div>
	</a> 
	{% endif %}
	{% endfor %}	
{% endblock %}

