---
---
{% extends "./_includes/default.njk" %}
{%block head%}

{%endblock%}
{% block title %}Edlef Romeny - Rooms{% endblock %}

{% block main %}
{% for t in xtest  %}
   1. {{ t }}
{% endfor %}
{%endblock%}